*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --dark: #333333;
  --accent: #d63b44;
  --light: #eeeeee;
  font-family: ;
  color: var(--darkaccent);
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

#overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/*======= A LINK DEFAULT CSS ===========
<!--a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}*/
/*======= NAVIGATION HEADER MOBILE =========== */
#navbar {
  width: 100vw;
  height: 15vh;
  min-height: 4rem;
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position: fixed;
  top: 0;
}

nav header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pacifico', cursive;
  padding-left: 0.5rem;
}

h1 {
  font-size: 1rem;
  font-style: normal;
}

#logo {
  height: 2rem;
  width: 2rem;
  margin-right: 1em;
}

.burger {
  background-color: white;
  width: 2rem;
  height: 5px;
  margin: 0.5em;
}

#burger:hover {
  background-color: var(--accent);
}

#menu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  height: 80vh;
  width: 75vw;
  background-color: var(--dark);
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 3;
}

.open {
  visibility: hidden;
}

#navbar li {
  list-style: none;
}

footer a, #navbar a, #navbar a:visited, footer a:visited {
  text-decoration: none;
  color: white;
}

#navbar a:active, #navbar a:hover {
  text-decoration: underline;
  color: var(--accent);
}

/*======= MAIN SECTIONS =========== */
main {
  margin-top: 3rem;
}

main section {
  padding: 3em 1em;
}

main section:nth-child(even) {
  background-color: var(--light);
}

main header {
  text-align: left;
  font-size: 1.5rem;
  font-family: 'Pacifico', cursive;
}

/*======= FOOTER =========== */
footer {
  font-size: 0.7rem;
  width: 100vw;
  height: 3em;
  padding: 1em;
  text-align: center;
  color: white;
  background-color: var(--dark);
}

footer a:active, footer a:hover {
  text-decoration: underline;
}

/*======= MEDIA query =========== */
@media (min-width: 1024px) {

  /*<!--User Story #15: My Technical Documentation page
should use at least one media query. -->*/
  /*--User Story #14: On regular sized devices (laptops, desktops),
the element with id="navbar" should be shown on the left side of the screen
and should always be visible to the user.  -->*/
  #burger {
    display: none;
  }

  ol.open {
    visibility: visible;
  }

  #navbar {
    left: 0;
    width: 30vw;
    height: 100vh;
    align-items: flex-start;
        position: fixed;
    z-index: 99;
      }

#menu {
  position: fixed;
  left:0;
  top:15vh;
  max-width: 30vw;
  max-height: 80vh;
}

nav header {
  max-height: 15vh;
  max-width: 30vw;
    margin:0;

  }

nav header {
  margin-top:2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  }

  #logo {
    height: 3rem;
    width: 3rem;
    margin:0 0.5em 0;
  }

h1 {
  font-size: 2rem;
margin:0 0.5em 0;
}

  main {
    margin-left: 30vw;
    margin-top: 1rem;
  }

  section p, section header {
    padding: 0 2rem;
  }

  footer {
    text-align: right;
    padding-right: 5rem;
  }

  /*======= SECTION ===========*/
}

/*======= SECTION ===========

nav header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Pacifico', cursive;
  padding-left: 0.5rem;


#menu {
  position: absolute;
  top: 3.5rem;
  right: 0;
  height: 80vh;
  width: 75vw;
  background-color: var(--dark);
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  z-index: 3;
}

#navbar {
  width: 100vw;
  height: 15vh;
  min-height: 4rem;
  color: var(--light);
  background-color: var(--dark);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  position:fixed;
  top: 0;
  }


*/
