*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  --darkaccent: #222222;
  --lightaccent: #aaaaaa;
  --bcgcolor: #eeeeee;
  font-family: ;
  color: var(--darkaccent);
}

/*======= A LINK DEFAULT CSS ===========
<!-- a:link, a:visited {
  color: (internal value);
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: (internal value);
}*/
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= SECTION =========== */
/*======= MEDIA QUERY =========== */
/*<!--User Story #15: My Technical Documentation page
should use at least one media query. -->*/
/*--User Story #14: On regular sized devices (laptops, desktops),
the element with id="navbar" should be shown on the left side of the screen
and should always be visible to the user.  -->*/

@media (min width > 1024px) {
  
}
